.page-header {
    height: 60%;
}

    .top-layout-positioner {
        border-bottom: 0.1em solid #363636;
        min-height: 54px;
    }

    .header-logo {
        width: 40%;
        min-width: 236px;
        line-height: 1;
        margin-left: 5px;
    }

        .header-logo h2 {
            font-size: 1.5em;
            transition: all 0ms;
        }
        
        .header-logo span {
            transition: all 0ms;
        }
        
        .affix {
            font-size: 1em;
            padding-top: 7px;
        }
        
    .header-nav-menu {
        display: none;
    }
    
    .slicknav_menu {
		display:block;
		position: fixed;
		background: none;
		top: 0;
		right: 5px;
		z-index: 99999;
		width: 50%;
	}
	
	.slicknav_menu ul {
	    position: fixed;
	    right: 0;
	    width: 100%;
	    background: rgba(54, 54, 54, 0.8);
	    text-align: center;
	}
	
	.slicknav_nav {
	    font-size: 1em;
	}
	
	.slicknav_nav ul {
	    margin: 0;
	}
	
	.slicknav_btn {
	    margin: 5px 5px 10px;
	}
    
    .about-website-content {
        width: 100%;
    }
    
    .about-website-content h1 {
        font-size: 1.2em;
    }
    
    .about-website-content span {
        font-size: 0.9em;
    }
    
    .affix-top {
        height: 54px;
    }
    
#about-me {
    background-size: 100%;
}

#about-me h2,
#skills h2,
#portfolio h2,
#contact-me h2 {
    font-size: 32px;
    padding-top: 5%;
}

#about-me .layout-positioner,
#skills .layout-positioner,
#portfolio .layout-positioner,
#contact-me .layout-positioner {
     flex-direction: column;
     align-items: center;
}

#about-me figure {
    width: 90%;
    min-width: 150px;
}

#skills figure {
    width: 90%;
}

.par-section {
    width: 80%;
    margin: 2% 0 2% 0;
}
.par-section p {
    margin: 0;
    font-size: 1rem;
    min-width: 120px;
    margin-bottom: 2%;
}

#skills .layout-positioner {
    margin: 2% 0 2% 0;
}

#skills .par-section-skills {
    width: 90%;
}

#skills .par-section-skills p {
    min-width: 150px;
}

 #portfolio .layout-positioner figure {
    width: 70%;
}

#portfolio .layout-positioner figure:first-of-type {
    margin-bottom: 5%;
}

#contact-me figure {
    width: 70%;
}

#contact-me .contacts {
    width: 90%;
} 
    
    #contact-me .contacts p {
        min-width: 150px;
        max-height: 50%;
        margin: 4% 0 2% 0;
        font-size: 1rem;
    }
    
.contacts table {
    width: 100%;
}

.contacts input,
.contacts textarea {
    width: 95%;
    box-sizing: border-box;
}

#contact-me .contacts .contact-form .feedback {
    width: 95%;
}

#contact-me .contacts .contact-form .warrning {
    width: 95%;
}

.page-footer .layout-positioner {
    flex-direction: column;
    transform: translateY(10%);
}

.page-footer .footer-nav-menu {
    margin: 2% 0 2% 0;
    width: 90%;
}

.socials a {
    margin: 0 15% 0 0;
}