html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

.page-header {
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 100%;
    background: url("../img/responsive-design.png") no-repeat 50% 50%;
    background-size: 100%;
}

    .top-layout-positioner {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        margin: 0 auto;
        z-index: 1000;
        width: 100%;
        max-width: 1600px;
        color: #ffffff;
        background-color: rgba(54, 54, 54, 0.8);
        box-sizing: border-box;
        transition: all 200ms;
    }
    
    .header-logo {
        display: inline-block;
        width: 40%;
        min-width: 200px;
        padding: 1% 0 1% 0;
        text-align: center;
        vertical-align: middle;
    }
        
        .header-logo h2 {
            margin: 0;
            padding: 0;
            font-size: 2em;
            transition: all 200ms;
        }
        
        .header-logo span {
            transition: all 200ms;
        }
        
            .affix {
                padding-top: 4px;
                font-size: 0.8em;
            }
    
    .header-nav-menu {
        display: inline-block;
        width: 45%;
        margin: 0;
        padding: 0;
        margin-left: 10%;
        font-family: "Palatino Linotype", sans-serif;
    }
    
        .header-nav-menu ul {
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .header-nav-menu ul li a {
            font-size: 1.2em;
            text-decoration: none;
            color: #ffffff;
        }
        
        .header-nav-menu ul li a:hover {
            border-bottom: 0.1rem solid #ffffff;
        }
        
        .slicknav_menu {
        	display:none;
        }
        
    .about-website-content {
        position: absolute;
        width: 70%;
        bottom: 0%;
        color: #ffffff;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        background-image: linear-gradient(90deg, transparent 10%, #000000 25%, #000000 75%, transparent 90%);
    }
    
        .about-website-content h1 {
            font-size: 3rem;
            margin: 0;
            padding: 0;
        }
        
        .about-website-content span {
            font-size: 2rem;
        }
        
        .affix-top {
            background-color: rgba(54, 54, 54, 0.8);;
            height: 50px;
            text-transform: uppercase;
            color: #ffffff;
        }

main {
    width: 100%;
}

    #about-me,
    #skills,
    #portfolio,
    #contact-me {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url("../img/responsive-bglayouts.png") no-repeat 100% 100%;
        background-size: 50% 50%;
        border-bottom: 0.1rem solid #cdcdcd;
    }
    
    #about-me h2,
    #skills h2,
    #portfolio h2,
    #contact-me h2 {
        width: 100%;
        font-size: 44px;
        margin: 0;
        border-bottom: 0.1rem solid #cdcdcd;
        text-align: center;
        padding: 4% 0 1% 0;
    }
    
    #about-me .layout-positioner,
    #skills .layout-positioner,
    #contact-me .layout-positioner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    #about-me .layout-positioner {
        padding: 5% 0 5% 0;
    }
    
    #about-me figure {
        width: 50%;
        min-width: 300px;
    }
    
        #about-me figure img {
            width: 100%;
        }
        
    .par-section {
        width: 40%;
    }
    
    .par-section p {
        min-width: 300px;
        margin: 0 0 2% 0;
        font-size: 1.1rem;
        line-height: 1.5;
        padding: 2%;
        border: 0.2rem solid #B3B3B3;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        text-align: justify;
        
    }
    
    #about-me .layout-positioner p a,
    #about-me .layout-positioner p a:visited {
        text-decoration: none;
        color: #363636;
        border-bottom: 1px dashed #363636;
    }
    
    #about-me .download-btn button {
        padding: 3%;
        margin-left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        border-style: none;
        background-image: linear-gradient(180deg, #cdcdcd 10%, #fff 30%, #fff 70%, #cdcdcd 90%);
        box-shadow: 0 1px 0 2px #cdcdcd;
    }
    
    #about-me .download-btn button:hover {
        background-image: linear-gradient(180deg, #5E5E5E 10%, #fff 30%, #fff 70%, #5E5E5E 90%);
    }
    
#skills {
    background: none;
}

    #skills .layout-positioner {
        height: 70%;
        background-color: rgba(204, 204, 204, 0.2);
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 2% 0 2% 0;
    }
    
    #skills figure {
        width: 40%;
    }
    
     #skills figure img {
        width: 100%;
    }
    
    #skills .par-section-skills {
        width: 50%;
    }
    
    #skills .par-section-skills p {
        min-width: 350px;
        max-height: 50%;
        margin: 0 0 2% 0;
        font-size: 1.1rem;
        line-height: 1.5;
        padding: 2%;
        text-align: justify;
    }
    
#portfolio {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    background: none;
}

    #portfolio .layout-positioner {
        display: flex;
        justify-content: space-around;
        padding: 2% 0 2% 0;
    }
    
    #portfolio .layout-positioner figure {
        position: relative;
        width: 40%;
        height: 50%;
    }
    
    #portfolio .layout-positioner figure::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 15px;
        left: 15px;
        transform: rotate(-3deg);
        width: 50%;
        height: 50px;
        border: 1px solid #000;
        box-shadow: 0 0 5px 10px rgba(115, 115, 115, 0.80);
    }
    
    #portfolio .layout-positioner figure::after {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 15px;
        right: 15px;
        transform: rotate(3deg);
        width: 50%;
        height: 50px;
        border: 1px solid #000;
        box-shadow: 0 0 5px 10px rgba(115, 115, 115, 0.80);
    }
    
    #portfolio .layout-positioner figure img {
        width: 100%;
    }
    
#contact-me {
    background: none;
}

    #contact-me .layout-positioner {
        margin: 5% 0 5% 0;
    }
    
    #contact-me figure {
        width: 30%;
    }
    
    #contact-me figure img {
        width: 100%;     
    }
    
#contact-me .contacts {
    width: 30%;
} 
    
    #contact-me .contacts p {
        min-width: 300px;
        max-height: 50%;
        margin: 4% 0 2% 0;
        font-size: 1.1rem;
    }
    
    #contact-me .contacts p:last-of-type {
        font-size: 0.8em;
    }
    
    .contacts table tr td:first-child {
        text-align: center;
        font-size: 1.5em;
    }
    
    .contacts table tr td:last-child {
        text-align: left;
        padding-left: 3%;
        width: 100%;
    }
    
    #contact-me .contacts label span,
    #contact-me .contacts .warrning span,
    #contact-me .contacts p:last-child span{
        color: #f00;
    }
    
    .contacts input,
    .contacts textarea {
        color: #000;
        width: 80%;
        padding: 5px 5px;
        margin-bottom: 5px;
    }
    
    input[type="text"] + i,
    input[type="email"] + i {
        display: none;
    }
    
    input[type="text"]:valid + i:first-of-type,
    input[type="email"]:valid + i:last-of-type {
        display: inline;
        color: #00990A;
    }
    
    .contacts input:invalid {
        color: #e74c3c;
    }
    
    .contacts button {
        padding: 2px 20px;
    }
    
    #contact-me .contacts .contact-form .feedback {
        display: none;
        width: 30%;
        font-size: 1em;
        box-sizing: border-box;
        font-weight: bold;
        text-align: center;
        color: #030;
        border: 0.2em solid #030;
        border-radius: 5px;
        padding: 5px 10px;
        background: rgba(0, 209, 0, 0.2);
    }
    
    #contact-me .contacts .contact-form .warrning {
        display: none;
        width: 30%;
        text-align: center;
        box-sizing: border-box;
        font-size: 1em;
        color: #6B0B00;
        border: 0.2em solid #EB1A02;
        border-radius: 5px;
        padding: 5px 10px;
        background: rgba(235, 26, 2, 0.2);
    }
    
    .invalid {
        border: 0.1em solid #e74c3c;
    }

.page-footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #363636;
}

    .page-footer .layout-positioner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        transform: translateY(50%);
    }
    
    .page-footer .footer-logo {
        color: #ffffff;
        text-align: center;
    }
    
    .page-footer .footer-nav-menu {
        width: 50%;
    }
    
    .page-footer .footer-nav-menu ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .page-footer .footer-nav-menu li {
        display: inline-block;
    }
    
    .page-footer .footer-nav-menu li a {
        color: #cdcdcd;
        text-decoration: none;
    }
    
    .page-footer .footer-nav-menu li a:hover {
        text-shadow: 0 0 5px #000;
    }
    
    .socials {
        display: flex;
        justify-content: space-around;
        width: 20%;
        margin-left: 2%;
    }
    
    .socials a {
        display: inline-block;
        color: #fff;
        font-size: 2em;
        margin: 0 5% 0 0;
    }
    
    .copyright {
        position: absolute;
        bottom: 2%;
        right: 5%;
        color: #cdcdcd;
    }